/*Código armado por La Foca Loca S.A. No modificar*/

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    width: 940px;
    margin: 2% auto;
    min-height: 100%;
    background-image: url(../images/adventure.jpg);
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    padding: 5px 0;
    animation: fadein 5s;
}

li::before {
    content: "• ";
    color: #035aa6;
}

.col-40 h1 {
    font-size: 20px;
    color: #035aa6;
}

.col-40,
.col-60 {
    display: table-cell;
    margin: 0;
    vertical-align: top;
}

.col-40 {
    background: #f1fdf8;
    padding: 30px;
    color: #000;
}

.col-60 {
    background: #636363;
}

#titulo {
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-bottom: 1rem;
    color: #014c82;
    font-size: 3rem;
}

.subtitulo {
    font-size: 1.5rem;
    color: #035aa6;
    padding: 0.5rem;
}

#flecha {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.texto-centrado {
    text-align: center;
}

#juego {
    height: 600px;
    width: 600px;
}

#juego div {
    text-align: center;
    animation: fadein 2s;
}

.rompecabezas {
    float: left;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 33.33%;
    height: 33.33%;
}

.rompecabezas img {
    width: 100%;
    height: 100%;
}

.rompecabezas2 {
    float: left;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 25%;
    height: 25%;
}

.rompecabezas2 img {
    width: 100%;
    height: 100%;
}

.img_objetivo {
    width: 60%;
    height: 60%;
    padding-top: 0.5rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}